<center><img src="{{user_info['user']['profile_pic_url']}}"><br>
Username: {{user_info['user']['username']}}<br>
Followers : {{followers}}
<br>
Followings : {{followings}}
<br>
<a href="{{ url_for('update') }}">Update</a>
<br>
<a href="{{ url_for('logout') }}">Logout</a></center>
<br>
Mutual follows ({{mutualFollow|length}}):
<ul>
	{% for follow in mutualFollow %}
		<li>{{follow.username}}</li>
	{% else %}
		<li>None</li>
	{% endfor %}
</ul>
<br>
The ones who're undeserving of your attention (haven't followed back) ({{noFollowBack|length}}):
<ul>
	{% for follow in noFollowBack %}
		<li>{{follow.username}}</li>
	{% else %}
		<li>Ehh?</li>
	{% endfor %}
</ul><br>
<br>
oh my gad look who unfollowed you ({{unfollowed_you|length}}):
<ul>
	{% for follow in unfollowed_you %}
		<li>{{follow.username}}</li>
	{% else %}
		<li>Opss,false alarm buddy</li>
	{% endfor %}
</ul><br>
Follow back bitch ({{follow_back|length}}):
<ul>
	{% for follow in follow_back %}
		<li>{{follow.username}}</li>
	{% else %}
		<li>Everyone loves you</li>
	{% endfor %}
</ul><br>
